@media only screen and (min-width: 576px) and (max-width: 991.98px) {
body{
    overflow-x: hidden;
}
  .navbar-collapse {
    margin-top: 12px;
    padding-top: 10px;
  }

  .navbar-nav {
    gap: 4px !important;
  }

  .navbar-nav .nav-item {
    margin: 0;
  }

  .navbar-nav .nav-link {
    padding: 6px 0;
    font-size: 15px;
  }

  .nav-btn {
    display: none;
  }

  .navbar-toggler {
    padding: 6px 9px;
  }

  .navbar-toggler i {
    font-size: 24px;
  }

.hero-section {
    position: relative;
    min-height: 650px;
    margin-bottom: 0;
  }
   .carousel-image {
    min-height: 650px;
   }

   .hero-content {
    top: 55%;
    left: 45px;
    right: 45px;
    transform: translateY(-50%);
    max-width: 600px;
  }
  .hero-content h3 {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 12px;
  }

  .hero-content h1 {
    font-size: 56px;
    line-height: 1.12;
    margin-bottom: 22px;
  }

  .hero-content p {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 30px;
     padding-right: 50px;
  }
  .hero-btn{
    background: #F9C06A;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 0.07em;
    padding: 10px 20px;
    position: relative;
    border-radius: 50px;
    transition: 0.3s ease-in;
    --animate-duration: 1.3s;
}
.hero-btn:hover{
   background-color:#6f3727 ; 
   color: #fff;
}

/* discover section */
.discover-section{
    position: relative;
    padding: 0 ; 

}
  .discover-section::after {
  content: "";
   right: -90px;
  left:auto ;
  bottom:auto ;
  top: -30px;
  width: 290px;
  height:180px;
  transform: scale(-1, -1.5);
  pointer-events: none;
  background-image: url("images/coffee\ blast-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  z-index: 1;
} 


 .box-1-content h2{
   font-size: 38px;
    line-height: 1.12;
    margin-bottom: 22px;
    margin-top: 90px;
    
}
.box-1-content h2 br{
    display: none;
}
.box-1-content p{
     font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
   
}
.discover-btn{
    padding: 10px 30px;

}

/* Feature section */

.feature-section{

    padding: 0 ; 
    padding-top: 100px;
    position: relative;
}
.feature-section::after

{

  content: "";
   position: absolute;
   left: -80px;
  right: auto;
  bottom: -140px;
  top: auto;
  width: 290px;
  height:160px; 
  transform: scale(1, -1.5);
  pointer-events: none;
  background-image: url("images/coffee\ blast-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  z-index: 1;

} 
.feature-content h2{
      font-size: 38px;
    font-weight: 700;
    text-align: center;
    color: rgb(96, 56, 9);
    line-height: 1.3;
  
}
.feature-content p{
    font-size: 18px;
    text-align: center;
   margin-bottom: 40px;
   margin-top: 20px;
    font-weight: 300;
     font-family: "Roboto", sans-serif;
     letter-spacing: 0.03em;
     line-height:1.5em ;
}
.feature-box{
    width: 100%;
    max-width: 280px;
    height: 290px;
    display: flex;
    flex-direction: column;
    text-align: center;
   box-shadow: rgba(96, 56, 9, 0.25) 0px 4px 8px -2px, rgba(96, 56, 9, 0.25) 0px 0px 0px 1px;
   border-radius: 10px;
     transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}
.feature-box:hover{
     transform: translateY(-12px) scale(1.03);
     background-color: #fff8ef;
;
    box-shadow: rgba(96, 56, 9, 0.35) 0px 18px 35px -10px,
                rgba(96, 56, 9, 0.25) 0px 0px 0px 1px;
}
.feature-icon{
    width: 82px;
    height: 82px;
    margin-bottom: 20px;
}

.feature-box-content h3 {
    font-size: 25px;
    font-weight: 700;
    color: #603809;
    margin-bottom: 10px;
}

.feature-box-content p {
    font-size: 18px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
     letter-spacing: 0.03em;
     line-height:1.5em ;

}

 .feature-content-2 h3{
      font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: rgb(96, 56, 9);
    line-height: 1.3;
    margin-bottom: 30px;
  
}
.feature-content-2 p{
    font-size: 18px;
    text-align: center;
   margin-bottom: 20px;
   margin-top: 50px;
    font-weight: 300;
     font-family: "Roboto", sans-serif;
     letter-spacing: 0.03em;
     line-height:1.5em ;
}
.feature-2-btn{
    
    padding: 10px 20px;
    
}


/* Menu section */
 .menu-list-section::after {
   content: "";
   position: absolute;
   left: auto;
  right: -70px;
  bottom: -80px;
  top: auto;
  width: 290px;
  height:160px; 
  transform: scale(-1, -1.5);
  pointer-events: none;
  background-image: url("images/coffee\ blast-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  z-index: 1;

} 
.menu-list-wrapper{
    margin: 55px auto 0;
}

.menu-list-title{
 font-size: 38px;
 margin-top: 20px;
}
.menu-list-text{
   font-size: 18px;
}


.menu-item {
  margin-bottom: 50px;
  margin-right: 0px;
}

.menu-item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 18px;
}

.menu-item-top h3{
   font-size: 25px;
}

.menu-item-top strong{
  font-size: 25px;
}
.menu-item-content p{
   font-size: 16px;
}

.menu-list-btn{
  padding: 10px 30px;
}

/* product section */

.product-section{
   padding: 0;
    padding-top: 100px;
}



.product-content h2{
      font-size: 38px;
    font-weight: 700;
    text-align: center;
    color: rgb(96, 56, 9);
    line-height: 1.3;
  
}
.product-content p{
    font-size: 18px;
    text-align: center;
   margin-bottom: 40px;
   margin-top: 20px;
    font-weight: 300;
     font-family: "Roboto", sans-serif;
     letter-spacing: 0.03em;
     line-height:1.5em ;
}
.product-box{
    width: 100%;
    max-width: 280px;
    height:auto;
    display: flex;
    flex-direction: column;
    text-align: center;
   box-shadow: rgba(96, 56, 9, 0.25) 0px 4px 8px -2px, rgba(96, 56, 9, 0.25) 0px 0px 0px 1px;
   border-radius: 10px;
     transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}
.product-box:hover{
     transform: translateY(-12px) scale(1.03);
     background-color: #fff8ef;
;
    box-shadow: rgba(96, 56, 9, 0.35) 0px 18px 35px -10px,
                rgba(96, 56, 9, 0.25) 0px 0px 0px 1px;
}
.product-icon{
   
    width: 100%;
    max-width: 280px;
    height: 220px;
    margin-bottom: 20px;
    margin-top: 0;
}



.product-box-content h3 {
    font-size: 35px;
    font-weight: 700;
    color: #603809;
    margin-bottom: 10px;
}

.product-box-content p {
    font-size: 16px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
     letter-spacing: 0.03em;
     line-height:1.5em ;

}
span{
    font-size: 18px;
    color: #603809;
    font-family: "caudex", sans-serif;
    font-weight: 600;
     letter-spacing: 0.03em;
     line-height:1.5em ;
   
}

.product-btn-cont{
    margin-top: -20px;
}

.product-btn{
    background: #F9C06A;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 0.07em;
    padding: 10px 15px;
    position: relative;
    border-radius: 50px;
    transition: 0.3s ease-in;
    --animate-duration: 1.3s;
}
.product-btn:hover{
   background-color:#6f3727 ; 
   color: #fff;
}
/* Offer section */
.offer-section {
    height: 500px;
    min-height: 500px;
    background-position: center;
  }

  .offer-content {
    padding-left: 25px;
    padding-right: 20px;
  }

  .offer-content h2 {
    font-size: 38px;
    line-height: 1.25;
    max-width: 430px;
  }

  .offer-content p {
    font-size: 18px;
    line-height: 1.6;
    padding-right: 20px;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .offer-btn {
    font-size: 13px;
    padding: 10px 30px;
  }

  .coffee-cup {
    width: 260px;
    right: 45px;
    top: 90px;
  }

  .coffee-beans {
    width: 340px;
    right: -45px;
    bottom: -10px;
  }

  /* Testimonial section */

.review-main-title{
  font-size: 38px;
}
.review-main-text {
  font-size: 18px;
 
}
.review-card::after{
  right: 10px;
}




/* Newsletter & Footer section */
.newsletter-box h2{
  font-size: 38px;
}

.newsletter-box p{
  font-size: 18px;
}
.newsletter-form{
  width: 450px;
}
.floating-cup{
width: 330px ;
top: 250px;
}

.coffee-footer{
  padding: 60px 0 35px;
}

.footer-cont{
    margin-top: 80px;
}
.coffee-footer h4{
font-size: 23px;
}

/* Menu Page */
.menu-hero p{
  font-size: 18px;
}

 .menu-hero::after {
   content: "";
   position: absolute;
   left: -70px;
  right:auto ;
  bottom: -130px;
  top: auto;
  width: 290px;
  height:160px; 
  transform: scale(1, -1.5);
  pointer-events: none;
  background-image: url("images/coffee\ blast-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  z-index: 1;

} 


}


  @media only screen and (min-width: 100px) and (max-width: 575px) {
body{
    overflow-x: hidden;
}
.nav-btn {
    display: none;
  }
  .carousel-image {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
  
  }
.hero-section{
    position: relative;
    margin-bottom: 0;
}

  .hero-content {
    top: 54%;
    left: 20px;
    right: 20px;
    transform: translateY(-50%);
    max-width: 100%;
    margin-top: 0px;
  
}


.hero-content h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.3em;
   margin-bottom: 20px;
   --animate-duration: 1.3s;
}
.hero-content h3{
    font-size: 18px;
   line-height: 1.3;
   margin-top: 30px;
    margin-bottom: 10px;
    --animate-duration: 1.3s;
}
.hero-content p{
    font-size: 14px;
   line-height: 1.5em;
    margin-bottom: 24px;
    padding-right: 0px;
    font-weight: 300;
     font-family: "Roboto", sans-serif;
     letter-spacing: 0.03em;
      --animate-duration: 1.3s;
}

  .hero-section,
  #myslideshow,
  .carousel-inner,
  .carousel-item,
  .carousel-image {
    min-height: 520px !important;
    width: 100vw !important;
    max-width: 100vw !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
.hero-btn{
    background: #F9C06A;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 0.07em;
    padding: 10px 20px;
    position: relative;
    border-radius: 50px;
    transition: 0.3s ease-in;
    --animate-duration: 1.3s;
}
.hero-btn:hover{
   background-color:#6f3727 ; 
   color: #fff;
}

/* discover section */
.discover-section{
    position: relative;
}
 .discover-section::after {
  content: "";
   right: -90px;
  left:auto ;
  bottom:auto ;
  top: -30px;
  width: 290px;
  height:180px;
  transform: scale(-1, -1.5);
  pointer-events: none;
  background-image: url("images/coffee\ blast-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  z-index: 1;
} 

 .box-1-content h2{
   font-size: 35px;
    line-height: 1.12;
    margin-bottom: 22px;
    margin-top: 90px;
   
}
.box-1-content h2 br{
    display: none;
}
.box-1-content p{
     font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.discover-btn{
    padding:10px 20px;
}

  /* Feature section */

.feature-section{
position: relative;
    padding: 0 ; 
    padding-top: 100px;
}

.feature-content h2{
      font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: rgb(96, 56, 9);
    line-height: 1.3;
  
}
.feature-content p{
    font-size: 16px;
    text-align: center;
   margin-bottom: 40px;
   margin-top: 20px;
    font-weight: 300;
     font-family: "Roboto", sans-serif;
     letter-spacing: 0.03em;
     line-height:1.5em ;
     padding: 0 20px;
}
.feature-box{
    width: 100%;
    max-width: 280px;
    height: 290px;
    display: flex;
    flex-direction: column;
    text-align: center;
   box-shadow: rgba(96, 56, 9, 0.25) 0px 4px 8px -2px, rgba(96, 56, 9, 0.25) 0px 0px 0px 1px;
   border-radius: 10px;
     transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}
.feature-box:hover{
     transform: translateY(-12px) scale(1.03);
     background-color: #fff8ef;
;
    box-shadow: rgba(96, 56, 9, 0.35) 0px 18px 35px -10px,
                rgba(96, 56, 9, 0.25) 0px 0px 0px 1px;
}
.feature-icon{
    width: 82px;
    height: 82px;
    margin-bottom: 20px;
}

.feature-box-content h3 {
    font-size: 25px;
    font-weight: 700;
    color: #603809;
    margin-bottom: 10px;
}

.feature-box-content p {
    font-size: 16px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
     letter-spacing: 0.03em;
     line-height:1.5em ;

}

.feature-content-2 h3{
      font-size: 23px;
    font-weight: 700;
    text-align: center;
    color: rgb(96, 56, 9);
    line-height: 1.3;
    margin-bottom: 30px;
  
}
.feature-content-2 p{
    font-size: 16px;
    text-align: center;
   margin-bottom: 20px;
   margin-top: 50px;
    font-weight: 300;
     font-family: "Roboto", sans-serif;
     letter-spacing: 0.03em;
     line-height:1.5em ;
}
.feature-2-btn{
    padding: 10px 20px;
}
.feature-section::after

{

  content: "";
   position: absolute;
   left: -80px;
  right: auto;
  bottom: -140px;
  top: auto;
  width: 290px;
  height:160px; 
  transform: scale(1, -1.5);
  pointer-events: none;
  background-image: url("images/coffee\ blast-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  z-index: 1;

}  


/* Menu section */
 .menu-list-section::after {
   content: "";
   position: absolute;
   left: auto;
  right: -70px;
  bottom: -80px;
  top: auto;
  width: 290px;
  height:160px; 
  transform: scale(-1, -1.5);
  pointer-events: none;
  background-image: url("images/coffee\ blast-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  z-index: 1;

} 
.menu-list-wrapper{
    margin: 45px auto 0;
}

.menu-list-title{
 font-size: 35px;
 margin-top: 20px;
}
.menu-list-text{
   font-size: 16px;
}


.menu-item {
  margin-bottom: 50px;
  margin-right: 0px;
}

.menu-item-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 18px;
}

.menu-item-top h3{
   font-size: 20px;
}

.menu-item-top strong{
  font-size: 20px;
}
.menu-item-content p{
   font-size: 14px;
}

.menu-list-btn{
  padding: 10px 27px;
}
/* Product section */


.product-section{
   padding: 0;
    padding-top: 100px;
}



.product-content h2{
      font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: rgb(96, 56, 9);
    line-height: 1.3;
  
}
.product-content p{
    font-size: 16px;
    text-align: center;
   margin-bottom: 40px;
   margin-top: 20px;
    font-weight: 300;
     font-family: "Roboto", sans-serif;
     letter-spacing: 0.03em;
     line-height:1.5em ;
}
.product-box{
    width: 100%;
    max-width: 280px;
    height:auto;
    display: flex;
    flex-direction: column;
    text-align: center;
   box-shadow: rgba(96, 56, 9, 0.25) 0px 4px 8px -2px, rgba(96, 56, 9, 0.25) 0px 0px 0px 1px;
   border-radius: 10px;
     transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}
.product-box:hover{
     transform: translateY(-12px) scale(1.03);
     background-color: #fff8ef;
;
    box-shadow: rgba(96, 56, 9, 0.35) 0px 18px 35px -10px,
                rgba(96, 56, 9, 0.25) 0px 0px 0px 1px;
}
.product-icon{
  
    width: 100%;
    max-width: 280px;
    height: 220px;
    margin-bottom: 20px;
    margin-top: 0;
}



.product-box-content h3 {
    font-size: 25px;
    font-weight: 700;
    color: #603809;
    margin-bottom: 10px;
}

.product-box-content p {
    font-size: 16px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
     letter-spacing: 0.03em;
     line-height:1.5em ;

}
span{
    font-size: 18px;
    color: #603809;
    font-family: "caudex", sans-serif;
    font-weight: 600;
     letter-spacing: 0.03em;
     line-height:1.5em ;
   
}

.product-btn-cont{
    margin-top: -20px;
}

.product-btn{
    background: #F9C06A;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 0.07em;
    padding: 10px 15px;
    position: relative;
    border-radius: 50px;
    transition: 0.3s ease-in;
    --animate-duration: 1.3s;
}
.product-btn:hover{
   background-color:#6f3727 ; 
   color: #fff;
}



/* Offer-section */
.offer-section {
   min-height: 520px;
    min-height: 620px;
    align-items: flex-start !important;
    background-position: center;
    margin-bottom: 35px;
  }

  .offer-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 55px;
    text-align: center;
  }

  .offer-content h2 {
    font-size: 30px;
    line-height: 1.25;
    max-width: 100%;
    margin: 0 auto 15px;
  }

  .offer-content p {
    font-size: 16px;
    line-height: 1.6;
    padding-right: 0;
    max-width: 330px;
    margin: 0 auto 22px;
  }

  .offer-btn {
    font-size: 12px;
    padding: 10px 20px;
  }

  .coffee-cup {
    width: 190px;
    right: auto;
    left: 50%;
    top: auto;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 4;
  }

  .coffee-beans {
    width: 340px;
    right: auto;
    left: 70%;
    bottom: -15px;
    transform: translateX(-50%);
    z-index: 2;
  }



  /* Testimonial section */

.review-main-title{
  font-size: 35px;
}
.review-main-text {
  font-size: 16px;
  padding: 0 15px;
}
.review-card::after{
  right: 30px;
}

.review-card-row {
  margin-top: 20px;
}

/* Newsletter & Footer section */
.newsletter-box h2{
  font-size: 35px;
}

.newsletter-box p{
  font-size: 16px;
  padding: 0 40px;
}
.newsletter-form{
  width: 90%;
}

.floating-cup {
  position: absolute;
  top: 340px;
  width: 200px;
  z-index: 10;
  pointer-events: none;
}

.floating-cup-left {
  left: -80px;
}

.floating-cup-right {
  right: -80px;
  transform: scaleX(-1);
}

.coffee-footer{
  padding: 60px 0 50px;
}

.footer-cont{
    margin-top: 80px;
}
.coffee-footer h4{
font-size: 20px;

}
.footer-about{
  font-size: 15px;
  
}

/* Menu Page */
.menu-hero h1{
  font-size: 56px;
}

.menu-hero p{
  font-size: 16px;
}
.menu-hero::after{
left: -70px;
  right:auto ;
  bottom: -130px;
  top: auto;
  width: 290px;
  height:160px; 
  transform: scale(1, -1.5);
}

}

