@media only screen and (min-width: 576px) and (max-width: 991.98px) {

  .navbar-collapse {
    margin-top: 12px;
    padding-top: 10px;
  }

  .navbar-nav {
    gap: 4px !important;
  }

  .navbar-nav .nav-item {
    margin: 0;
  }

  .navbar-nav .nav-link {
    padding: 6px 0;
    font-size: 15px;
  }

  .nav-btn {
    display: none;
  }

  .navbar-toggler {
    padding: 6px 9px;
  }

  .navbar-toggler i {
    font-size: 24px;
  }

.hero-section {
    min-height: 700px;
  }
   .carousel-image {
    min-height: 700px;
   }

   .hero-content {
    top: 47%;
    left: 45px;
    right: 45px;
    transform: translateY(-50%);
    max-width: 600px;
  }
  .hero-content h3 {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 12px;
  }

  .hero-content h1 {
    font-size: 56px;
    line-height: 1.12;
    margin-bottom: 22px;
  }

  .hero-content p {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 10px;
     padding-right: 50px;
  }
}


  @media only screen and (min-width: 100px) and (max-width: 575px) {

  .carousel-image {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
  
  }

  .hero-content {
    top: 54%;
    left: 20px;
    right: 20px;
    transform: translateY(-50%);
    max-width: 100%;
    margin-top: 0px;
  
}

.hero-content h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.3em;
   margin-bottom: 20px;
   --animate-duration: 1.3s;
}
.hero-content h3{
    font-size: 18px;
   line-height: 1.3;
   margin-top: 0px;
    margin-bottom: 10px;
    --animate-duration: 1.3s;
}
.hero-content p{
    font-size: 15px;
   line-height: 1.5em;
    margin-bottom: 24px;
    padding-right: 0px;
    font-weight: 300;
     font-family: "Roboto", sans-serif;
     letter-spacing: 0.03em;
      --animate-duration: 1.3s;
}

  .hero-section,
  #myslideshow,
  .carousel-inner,
  .carousel-item,
  .carousel-image {
    min-height: 550px !important;
    width: 100vw !important;
    max-width: 100wv !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

}