*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
 font-family: "Caudex", serif;
 overflow-x: hidden;
}
.navbar-overlap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.bg-navbar{
 background:rgba(0, 0, 0, 0.541);
 transition: 0.3s ease;
 --animate-duration: 1.3s;
}
.bg-navbar.scrolled {
  background-color: #3f271e;
}
.nav-btn{
    background: #F9C06A;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 0.07em;
    padding: 10px 20px;
    position: relative;
    border-radius: 50px;
    transition: 0.3s ease-in;
    --animate-duration: 1.3s;
}
.nav-btn:hover{
   background-color:#6f3727 ; 
   color: #fff;
}
.nav-item a{
    font-size: 16px;
    color: white;
    letter-spacing: 0.05em;
    transition: 0.3s ease;
}
.nav-item a:hover{
      color: white;

}
.navbar-toggler{
     border: 1px solid #fff;
     padding: 8px;
}

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler i{
    color: #fff;
    font-size: 26px;
    text-align: center;
}


.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 100px;
  margin-top: 0px;

 
}
.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background:linear-gradient(
    to right,
    #1E1E1E 0%,
    rgba(30, 30, 30, 0.75) 35%,
    rgba(30, 30, 30, 0.35) 65%,
    #00000000 100%
  );
  z-index: 2;
  pointer-events: none;
    
}

#myslideshow{
position: relative;
z-index: 1;
height: 100%;

}
.carousel-inner,
.carousel-item,
.carousel-image {
  height: 100%;
    
}

.bg-img-1{
    background-image: url(images/coffee\ hero.jpg);
    
}
.bg-img-2{
    background-image: url(images/1.png);

}
.bg-img-3{
    background-image: url(images/5.jpg);
   
} 

.carousel-image{
height:100vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}


.hero-content {
  position: absolute;
  top: 55%;
  left: 6%;
  transform: translateY(-50%);
  z-index: 3;
  color: #fff;
  max-width: 650px;
  

  
}
.hero-content h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.3;
   --animate-duration: 1.3s;
}
.hero-content h3{
    font-size: 20px;
    padding-bottom: 10px;
     --animate-duration: 1.3s;
}
.hero-content p{
    font-size: 16px;
   margin-bottom: 20px;
    font-weight: 300;
     font-family: "Roboto", sans-serif;
     letter-spacing: 0.03em;
      --animate-duration: 1.3s;
      padding-right: 165px;
}